body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.top-padding {
    margin-top: 5px;
}

.top-small-padding {
    margin-top: 2px;
}

.input {
    width: 100%;
}

.float-right {
    float: right;
}

.bold {
    font-weight: bold;
}

.red-font {
    color: red;
}